@page "/"

<h1>Kari Kari!</h1>

みんなで仲良くカリカリしよう!
うごくようになったよ!

@if (!User.Instance.LoggedIn())
{
                                    <p>ログインしてください</p>
                                    <RadzenButton Click=@OnLoginClicked Text="Googleでログイン" ButtonStyle="ButtonStyle.Primary" />
}
else
{
                                    <p>あなたはログインしています</p>
                                    <RadzenButton Click="@OnLogoutClicked" Text="ログアウト"></RadzenButton>
}



@code {
    public async Task OnLoginClicked()
    {
        await User.Instance.Login();
    }
    public async Task OnLogoutClicked()
    {
        await Task.Run(() => User.Instance.Logout());
    }
}