@page "/loanDetails/{LoanId:int}"
@using Shogendar.Karikari.Models
@using System.Globalization

<ItemContainer Item=@Loan>
    <WalletCard Amount=@(Loan.Amount) Title="@($"{Loan.Repayer.Name}が、{Loan.Payer.Name}に返すお金")" />
</ItemContainer>
<hr />

<ItemContainer Item=@Loan>
    <h1>@Loan.Title</h1>
    <p>@Loan.Description</p>
</ItemContainer>

@code {
    [Parameter]
    public int LoanId { get; set; }
    public Loan Loan { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Loan = await APIClient.Instance.GetLoan(LoanId, LocalUser.Instance.User);
    }

}
