@page "/newloan"

<h1>貸し記録をつける</h1>

<form>
    
    <RadzenText TextStyle="TextStyle.Subtitle" TagName="TagName.H3">タイトル</RadzenText>
    <RadzenTextBox Style="width: 100%" aria-label="〜代" />
    <RadzenText TextStyle="TextStyle.Subtitle" TagName="TagName.H3">説明</RadzenText>
    <RadzenTextBox Style="width: 100%" aria-label="これを貸した理由..." />
    <RadzenText TextStyle="TextStyle.Subtitle" TagName="TagName.H3">相手のユーザー名</RadzenText>
    <RadzenTextBox Style="width: 100%" aria-label="これを貸す相手" />
</form>

@code {
    double value = 0.0;
}
