@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager NavigationManager

<HeadContent>
    <RadzenTheme Theme="material-dark" />
</HeadContent>

<div class="page">
    <NavBar NavigationItems="@navigationItems" CurrentPath="@currentPath" OnNavigate="HandleNavigation">
        <main>
            <div class="content">
                @Body
            </div>
        </main>
    </NavBar>
</div>
<RadzenComponents />

@code {
    private List<NavBar.NavItem> navigationItems = new List<NavBar.NavItem>
{
new NavBar.NavItem { Text = "借り", Icon = "account_balance", Path = "/" },
new NavBar.NavItem { Text = "貸し", Icon = "send_money", Path = "/return" },
new NavBar.NavItem { Text = "グループ", Icon = "group", Path = "/groups" },
new NavBar.NavItem { Text = "設定", Icon = "settings", Path = "/settings" }
};

    private string currentPath;

    protected override void OnInitialized()
    {
        // 現在のパスを取得
        currentPath = new Uri(NavigationManager.Uri).PathAndQuery;

        // ナビゲーション変更のイベント購読
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        // URLが変更された時に現在のパスを更新
        currentPath = new Uri(e.Location).PathAndQuery;
        StateHasChanged();
    }

    private void HandleNavigation(string path)
    {
        // ナビゲーション実行
        NavigationManager.NavigateTo(path);
    }

    public void Dispose()
    {
        // コンポーネント破棄時にイベント購読を解除
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
}
