@using System.Globalization
<div>
    <div class="rz-p-0 rz-p-md-12">
        <RadzenCard Variant="Variant.Filled" class="rz-my-12 rz-mx-auto">
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start"
                AlignItems="AlignItems.Center" Gap="1rem">
                <RadzenText TextStyle="TextStyle.DisplayH4">@Title</RadzenText>
                <RadzenText TextStyle="TextStyle.DisplayH2">@Amount.ToString("C", new CultureInfo("ja-JP"))
                </RadzenText>
            </RadzenStack>
        </RadzenCard>
    </div>
</div>

@code {
    [Parameter]
    public required decimal Amount { get; set; }
    [Parameter]
    public string Title { get; set; }
}
